{% extends 'base.html.twig' %}

{% block title %}Forgot Password{% endblock %}

{% block main %}

    {% include 'components/title_bar.html.twig' %}

    <main class="contact-mp">
        <div class="main-section">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-lg-6 col-md-8">
                        <div class="contact-heading text-center">
                            <h2 class="mt-3 mb-3">Rest your password</h2>
{#                            <p class="mb-37">Do you have any question? Our experts will be happy to help.</p>#}
                                    {% for flash_message in app.flashes('success') %}
                                        <div class="alert mt-2 mb-0 p-2 alert-success small">
                                            {{ flash_message }}
                                        </div>
                                    {% endfor %}
                                    {% for flash_message in app.flashes('error') %}
                                        <div class="alert mt-2 mb-0 p-2 alert-danger small">
                                            {{ flash_message }}
                                        </div>
                                    {% endfor %}
                        </div>
                        <div class="contact-form">
                            {{ form_start(forgotForm, {'attr': {'novalidate': 'novalidate'}}) }}
                            <div class="form-group mt-2">
                                {{ form_label(forgotForm.email, 'Email*', {'label_attr': {'class': 'form-label'}}) }}
                                {% for error in forgotForm.email.vars.errors %}
                                    <div class="alert mt-2 p-2 alert-danger small text-center">
                                        {{ error.message }}
                                    </div>
                                {% endfor %}
                                {{ form_widget(forgotForm.email, {'attr': {'class': 'form-input', 'placeholder': 'Enter your email address'}}) }}

                            </div>
                            {{ form_row(forgotForm.submit) }}
                            {{ form_end(forgotForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>





{#    <div class="container">#}
{#        <h1>Forgot Password</h1>#}
{#        {% for flash_message in app.flashes('success') %}#}
{#            <div class="alert mt-2 p-2 alert-success small">#}
{#                {{ flash_message }}#}
{#            </div>#}
{#        {% endfor %}#}
{#        {% for flash_message in app.flashes('error') %}#}
{#            <div class="alert mt-2 p-2 alert-danger small">#}
{#                {{ flash_message }}#}
{#            </div>#}
{#        {% endfor %}#}
{#        {{ form_start(forgotForm, {'attr': {'novalidate': 'novalidate'}}) }}#}
{#        <div class="form-group">#}
{#            {{ form_label(forgotForm.email, 'Email*', {'label_attr': {'class': 'form-label'}}) }}#}
{#            {{ form_widget(forgotForm.email, {'attr': {'class': 'form-input', 'placeholder': 'Enter your email address'}}) }}#}
{#            {% for error in forgotForm.email.vars.errors %}#}
{#                <div class="alert mt-2 p-2 alert-danger small">#}
{#                    {{ error.message }}#}
{#                </div>#}
{#            {% endfor %}#}
{#        </div>#}
{#        {{ form_row(forgotForm.submit) }}#}
{#        {{ form_end(forgotForm) }}#}
{#    </div>#}
{% endblock %}
