{% extends 'base.html.twig' %} {% block title %}Hello HomeController!{% endblock
%} {% block main %}
<main>
  <div class="main-section">
    <div class="container">
      <div class="row">
        <div
          class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12"
        >
          <div class="center-section">
            <div class="main-search-bar">
              <h2>Shop in your city</h2>
              <form id="search-form" method="GET">
                  <div class="main-search-inputs main-form">
                      <div class="row g-3">
                          <div class="col-lg-5 col-md-12 col-sm-12">
                              <input
                                  class="search-form-input"
                                  type="text"
                                  name="name"
                                  placeholder="Search Shop by name"
                              />
                          </div>
                          <div class="col-lg-5 col-md-12 col-sm-12">
                              <input
                                  class="search-form-input"
                                  type="text"
                                  name="region"
                                  placeholder="Search Shop by location"
                              />
                          </div>
                          <div class="col-lg-2 col-md-12 col-sm-12">
                              <button id="search-btn" class="search-btn" type="submit">
                                  <i class="feather-search"></i><span>Search</span>
                              </button>
                          </div>
                      </div>
                  </div>
              </form>
            </div>

            <div class="tab-content">
              <div class="tab-pane fade show active" id="tab-top">
                <div class="main-posts">
                  <div class="row">
                    
                          <div class="col-md-6">
                              <div class="event-main-post">
                                  <div class="main-photo">
                                      <a href="#">
                                          <div class="photo-overlay"></div>
                                          <img src="images/homepage/center/post-img-7.jpg" alt="#" />
                                      </a>
                                      <div class="option-ellipsis">
                                          <div class="dropdown">
                                              <a class="ellipsis-btn dropdown-toggle-no-caret" href="#" role="button"
                                                  data-bs-toggle="dropdown" aria-expanded="false"><i
                                                      class="fas fa-ellipsis-v"></i></a>
                                              <div class="dropdown-menu dropdown-menu-end">
                                                  <a class="post-link-item" href="#"><i class="feather-eye-off icon-mr1"></i>Hide</a>
                                                  <a class="post-link-item" href="#"><i class="feather-bookmark icon-mr1"></i>Save</a>
                                                  <a class="post-link-item" href="#"><i class="feather-user icon-mr1"></i>User Profile</a>
                                                  <a class="post-link-item" href="#" data-bs-toggle="modal"
                                                      data-bs-target="#reportModal"><i class="feather-flag icon-mr1"></i>Report</a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="event-body">
                                      <a href="#" class="event-title">post.name</a>
                                      <span class="event-type">post.details</span>
                                      <p class="ingo-counter">
                                          <span>post.Details</span> <!-- Add relevant data here -->
                                          <span>post.details</span> <!-- Add relevant data here -->
                                      </p>
                                      <!-- Add relevant buttons and functionalities here -->
                                  </div>
                              </div>
                          </div>
                        <div class="col-md-12">
                            <div class="loading-btn">
                                <button class="process-btn btn-hover" type="button">No More</button>
                            </div>
                        </div>
            </div>
        </div>
    </div>
      <div class="tab-pane fade" id="tab-following">
        <div class="full-width">
            <div class="no-events">
                <div class="no-event-icon">
                    <img src="images/icon-calendar.png" alt="" />
                </div>
                <span>No events found.</span>
            </div>
        </div>
        </div>
      </div>
          </div>
        </div>
        <div
          class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-12 col-12"
        >
          <div class="main-left-sidebar mt-5 mt-lg-5 mt-xl-0">
            <div class="user-data full-width">
              <div class="user-profile">
                <div class="username-dt dpbg-1">
                  <div class="usr-pic">
                    <img
                      src="images/homepage/left-side/profile-dp.jpg"
                      alt=""
                    />
                  </div>
                </div>
                <div class="user-main-details">
                  <h4>Yassine Ben Aoun</h4>
                  <span><i class="feather-map-pin"></i>Tunisia</span>
                </div>
                <ul class="followers-dts">
                  <li>
                    <div class="followers-dt-sm">
                      <h4>Followers</h4>
                      <span>3</span>
                    </div>
                  </li>
                  <li>
                    <div class="followers-dt-sm">
                      <h4>Following</h4>
                      <span>2</span>
                    </div>
                  </li>
                </ul>
                <div class="profile-link">
                  <a href="my_profile.html">View Profile</a>
                </div>
              </div>
            </div>
            <div class="user-data full-width">
              <div class="categories-left-heading">
                <h3>Categories</h3>
              </div>
              <div class="categories-items">
                <div class="categories-container">
                  <a class="category-item" href="#"
                    ><img
                      src="images/category-icons/grow-shop.png"
                      alt="Music"
                    />Shopping</a
                  >
                  <a class="category-item" href="#"
                    ><img
                      src="images/category-icons/bon-de-reduction.png"
                      alt="Classics"
                    />Voucher</a
                  >
                </div>
              </div>
            </div>
            
            {# begin voucher extracting from data base :  #}
            <div class="user-data full-width">
              <div class="categories-left-heading">
                <h3>Your Vouchers</h3>
              </div>
              {% if voucher is empty %}
                <p>No vouchers found.</p>
              {% else %}
                {% for voucher in voucher %}
              <div class="sugguest-user">
                <div class="sugguest-user-dt">
                  <a href="#"
                    ><img src="images/category-icons/bon-de-reduction.png" alt=""
                  /></a>
                  <a href="#"><h4>{{ voucher.code }}</h4></a>
                </div>
                <button class="request-btn">
                  <i class="feather-slack"></i>
                </button>
              </div>
              {% endfor %}
              {% endif %}
            </div>
            {# end voucher list  #}
          </div>
        </div>
        {# begin of right side of the site #}
        <div
          class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-12 col-12"
        >
          <div class="right-side-items mt-0 mt-md-5 mt-lg-5 mt-xl-0">
            {# POST LOST & FOUND BEGIN #}
            <div class="post-event">
              <h6>Want to Post found or lost objects</h6>
              <p>
                if you have found or lost somthing just post it here and people will interact with you
              </p>
              <a href="add_new_event.html" class="add-nw-event">Post It Now</a>
            </div>
            {# POST LOST & FOUND BEGIN #}

            {# begin Explore event #}
            <div class="explore-events">
              <h4>Explore Shop</h4>
              <div class="explore-events-dt">
                <div class="row g-2">
                  {% if markets is empty %}
                    <p>No markets found.</p>
                  {% else %}
                    {% for market in markets %}
                      <div class="col-md-6">
                        <div class="event-main-post">
                            <div class="main-photo">
                                <a href="{{ path('market_details', {'id': market.id}) }}">
                                    <div class="photo-overlay"></div>
                                    <img src="{{ asset('uploads/' ~ market.getImage() )}}" alt="{{ market.name }}" />
                                </a>
                                <div class="option-ellipsis">
                                    <div class="dropdown">
                                        <a class="ellipsis-btn dropdown-toggle-no-caret" href="#" role="button"
                                            data-bs-toggle="dropdown" aria-expanded="false"><i
                                                class="fas fa-ellipsis-v"></i></a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="post-link-item" href="#"><i class="feather-eye-off icon-mr1"></i>Hide</a>
                                            <a class="post-link-item" href="#"><i class="feather-bookmark icon-mr1"></i>Save</a>
                                            <a class="post-link-item" href="#"><i class="feather-user icon-mr1"></i>User Profile</a>
                                            <a class="post-link-item" href="#" data-bs-toggle="modal"
                                                data-bs-target="#reportModal"><i class="feather-flag icon-mr1"></i>Report</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="event-body">
                                <a href="{{ path('market_details', {'id': market.id}) }}" class="event-title">{{ market.name }}</a>
                                <span class="event-type">{{ market.address }}</span>
                                <p class="ingo-counter">
                                    <span>{{ market.region }}</span> <!-- Add relevant data here -->
                                    <span>{{ market.zipCode }}</span> <!-- Add relevant data here -->
                                </p>
                                <!-- Add relevant buttons and functionalities here -->
                            </div>
                        </div>
                    </div>

                {% endfor %}
              {% endif %}
                </div>
              </div>
            </div>
            {# end of explore events and agenda #}
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
