{% extends 'base.html.twig' %} {% block title %}Hello HomeController!{% endblock
%} {% block main %}
<main>
  <div class="main-section">
    <div class="container">
      <div class="row">
        <div
          class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12"
        >
          <div class="center-section">
            <div class="main-search-bar">
              <h2>Shop in your city</h2>
              <form id="search-form" method="GET">
                  <div class="main-search-inputs main-form">
                      <div class="row g-3">
                          <div class="col-lg-5 col-md-12 col-sm-12">
                              <input
                                  class="search-form-input"
                                  type="text"
                                  name="name"
                                  placeholder="Search Shop by name"
                              />
                          </div>
                          <div class="col-lg-5 col-md-12 col-sm-12">
                              <input
                                  class="search-form-input"
                                  type="text"
                                  name="region"
                                  placeholder="Search Shop by location"
                              />
                          </div>
                          <div class="col-lg-2 col-md-12 col-sm-12">
                              <button id="search-btn" class="search-btn" type="submit">
                                  <i class="feather-search"></i><span>Search</span>
                              </button>
                          </div>
                      </div>
                  </div>
              </form>
            </div>

            <div class="tab-content">
              <div class="tab-pane fade show active" id="tab-top">
                <div class="main-posts">
                  <div class="row">
                    {% if markets is empty %}
                      <p>No markets found.</p>
                    {% else %}
                      {% for market in markets %}
                          <div class="col-md-6">
                              <div class="event-main-post">
                                  <div class="main-photo">
                                      <a href="{{ path('market_details', {'id': market.id}) }}">
                                          <div class="photo-overlay"></div>
                                          <img src="images/homepage/center/post-img-4.jpg" alt="{{ market.name }}" />
                                      </a>
                                      <div class="option-ellipsis">
                                          <div class="dropdown">
                                              <a class="ellipsis-btn dropdown-toggle-no-caret" href="#" role="button"
                                                  data-bs-toggle="dropdown" aria-expanded="false"><i
                                                      class="fas fa-ellipsis-v"></i></a>
                                              <div class="dropdown-menu dropdown-menu-end">
                                                  <a class="post-link-item" href="#"><i class="feather-eye-off icon-mr1"></i>Hide</a>
                                                  <a class="post-link-item" href="#"><i class="feather-bookmark icon-mr1"></i>Save</a>
                                                  <a class="post-link-item" href="#"><i class="feather-user icon-mr1"></i>User Profile</a>
                                                  <a class="post-link-item" href="#" data-bs-toggle="modal"
                                                      data-bs-target="#reportModal"><i class="feather-flag icon-mr1"></i>Report</a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="event-body">
                                      <a href="{{ path('market_details', {'id': market.id}) }}" class="event-title">{{ market.name }}</a>
                                      <span class="event-type">{{ market.address }}</span>
                                      <p class="ingo-counter">
                                          <span>{{ market.region }}</span> <!-- Add relevant data here -->
                                          <span>{{ market.zipCode }}</span> <!-- Add relevant data here -->
                                      </p>
                                      <!-- Add relevant buttons and functionalities here -->
                                  </div>
                              </div>
                          </div>
                      {% endfor %}
                  {% endif %}
                <div class="col-md-12">
                    <div class="loading-btn">
                        <button class="process-btn btn-hover" type="button">No More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="tab-following">
        <div class="full-width">
            <div class="no-events">
                <div class="no-event-icon">
                    <img src="images/icon-calendar.png" alt="" />
                </div>
                <span>No events found.</span>
            </div>
        </div>
    </div>
</div>

            
          </div>
        </div>
        <div
          class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-12 col-12"
        >
          <div class="main-left-sidebar mt-5 mt-lg-5 mt-xl-0">
            <div class="user-data full-width">
              <div class="user-profile">
                <div class="username-dt dpbg-1">
                  <div class="usr-pic">
                    <img
                      src="images/homepage/left-side/profile-dp.jpg"
                      alt=""
                    />
                  </div>
                </div>
                <div class="user-main-details">
                  <h4>John Doe</h4>
                  <span><i class="feather-map-pin"></i>India</span>
                </div>
                <ul class="followers-dts">
                  <li>
                    <div class="followers-dt-sm">
                      <h4>Followers</h4>
                      <span>3</span>
                    </div>
                  </li>
                  <li>
                    <div class="followers-dt-sm">
                      <h4>Following</h4>
                      <span>2</span>
                    </div>
                  </li>
                </ul>
                <div class="profile-link">
                  <a href="my_profile.html">View Profile</a>
                </div>
              </div>
            </div>
            <div class="user-data full-width">
              <div class="categories-left-heading">
                <h3>Categories</h3>
              </div>
              <div class="categories-items">
                <div class="categories-container">
                  <a class="category-item" href="{{ path('market_index') }}"
                    ><img
                      src="images/category-icons/grow-shop.png"
                      alt="Music"
                    />Shopping</a
                  >
                  <a class="category-item" href="{{ path('market_index') }}"
                    ><img
                      src="images/category-icons/bon-de-reduction.png"
                      alt="Classics"
                    />Voucher</a
                  >
                </div>
              </div>
            </div>
            <div class="user-data full-width">
              <div class="categories-left-heading">
                <h3>Peoples</h3>
              </div>
              <div class="sugguest-user">
                <div class="sugguest-user-dt">
                  <a href="user_profile.html"
                    ><img src="images/homepage/left-side/left-img-1.jpg" alt=""
                  /></a>
                  <a href="user_profile.html"><h4>Johnson</h4></a>
                </div>
                <button class="request-btn">
                  <i class="feather-user-plus"></i>
                </button>
              </div>
              <div class="sugguest-user">
                <div class="sugguest-user-dt">
                  <a href="user_profile.html"
                    ><img src="images/homepage/left-side/left-img-2.jpg" alt=""
                  /></a>
                  <a href="user_profile.html"><h4>Jassica William</h4></a>
                </div>
                <button class="request-btn">
                  <i class="feather-user-plus"></i>
                </button>
              </div>
              <div class="sugguest-user">
                <div class="sugguest-user-dt">
                  <a href="user_profile.html"
                    ><img src="images/homepage/left-side/left-img-3.jpg" alt=""
                  /></a>
                  <a href="user_profile.html"><h4>Rock</h4></a>
                </div>
                <button class="request-btn">
                  <i class="feather-user-plus"></i>
                </button>
              </div>
              <div class="sugguest-user">
                <div class="sugguest-user-dt">
                  <a href="user_profile.html"
                    ><img src="images/homepage/left-side/left-img-4.jpg" alt=""
                  /></a>
                  <a href="user_profile.html"><h4>Davil Smith</h4></a>
                </div>
                <button class="request-btn">
                  <i class="feather-user-plus"></i>
                </button>
              </div>
              <div class="sugguest-user">
                <div class="sugguest-user-dt">
                  <a href="user_profile.html"
                    ><img src="images/homepage/left-side/left-img-5.jpg" alt=""
                  /></a>
                  <a href="user_profile.html"><h4>Ricky Doe</h4></a>
                </div>
                <button class="request-btn">
                  <i class="feather-user-plus"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-12 col-12"
        >
          <div class="right-side-items mt-0 mt-md-5 mt-lg-5 mt-xl-0">
            <div class="post-event">
              <h6>Want to Post Your Event</h6>
              <p>
                Post your event on Goeveni for free. Just make an account and
                add it through the simple form. As simple as that.
              </p>
              <a href="add_new_event.html" class="add-nw-event">Post It Now</a>
            </div>
            <div class="explore-events">
              <h4>Explore Events</h4>
              <div class="explore-events-dt">
                <div class="row g-2">
                  <div class="col-6">
                    <a href="#">
                      <div class="explore-card light-blue">
                        <div class="explore-item-1">
                          <div class="explore-icon-bg icon-large-1">
                            <i class="fas fa-sun"></i>
                          </div>
                          <div class="explore-content">
                            <i class="feather-sun"></i>
                            <span>Today</span>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-6">
                    <a href="#">
                      <div class="explore-card light-yellow">
                        <div class="explore-item-1">
                          <div class="explore-icon-bg icon-large-1">
                            <i class="feather-sun"></i>
                          </div>
                          <div class="explore-content">
                            <i class="feather-sun"></i>
                            <span>Tomorrow</span>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-6">
                    <a href="#">
                      <div class="explore-card dark-blue">
                        <div class="explore-item-1">
                          <div class="explore-icon-bg icon-large-1">
                            <i class="feather-calendar"></i>
                          </div>
                          <div class="explore-content">
                            <i class="feather-calendar"></i>
                            <span>This Week</span>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-6">
                    <a href="#">
                      <div class="explore-card light-green">
                        <div class="explore-item-1">
                          <div class="explore-icon-bg icon-large-1">
                            <i class="fas fa-calendar-check"></i>
                          </div>
                          <div class="explore-content">
                            <i class="feather-calendar"></i>
                            <span>Choose Date</span>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-weather">
              <div class="weather-top">
                <div class="weather-left">
                  <div class="weather-city">Ludhiana</div>
                  <div class="week-text">Monday</div>
                  <div class="week-text">14 Oct 2019</div>
                  <div class="week-text" style="font-size: 18px">
                    <i class="fas fa-tint"></i> 30%
                  </div>
                  <ul>
                    <li>
                      <div class="up-down">
                        <i class="fas fa-long-arrow-alt-up"></i> 18°
                      </div>
                    </li>
                    <li>
                      <div class="up-down">
                        <i class="fas fa-long-arrow-alt-down"></i> 25°
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="weather-right">
                  <i class="feather-sun"></i>
                  <span>22°</span>
                </div>
              </div>
              <ul class="weekly-weather">
                <li>
                  <div class="degree-text">32°</div>
                  <div class="weather-icon"><i class="fas fa-sun"></i></div>
                  <div class="day-text">Tue</div>
                </li>
                <li>
                  <div class="degree-text">19°</div>
                  <div class="weather-icon">
                    <i class="fa-solid fa-cloud-sun-rain"></i>
                  </div>
                  <div class="day-text">Wed</div>
                </li>
                <li>
                  <div class="degree-text">32°</div>
                  <div class="weather-icon"><i class="fas fa-sun"></i></div>
                  <div class="day-text">Thu</div>
                </li>
                <li>
                  <div class="degree-text">27°</div>
                  <div class="weather-icon">
                    <i class="fas fa-wind"></i>
                  </div>
                  <div class="day-text">Fri</div>
                </li>
                <li>
                  <div class="degree-text">22°</div>
                  <div class="weather-icon">
                    <i class="fas fa-cloud-showers-heavy"></i>
                  </div>
                  <div class="day-text">Sat</div>
                </li>
                <li>
                  <div class="degree-text">12°</div>
                  <div class="weather-icon">
                    <i class="fas fa-snowflake"></i>
                  </div>
                  <div class="day-text">Sun</div>
                </li>
              </ul>
            </div>
            <div class="news-data full-width">
              <div class="categories-left-heading">
                <h3>News</h3>
              </div>
              <div class="categories-items">
                <div class="news-item">
                  <div class="news-item-heading">
                    <img src="images/category-icons/icon-1.png" alt="Music" />
                    <h6>Music</h6>
                  </div>
                  <div class="news-description">
                    Suspendisse cursus egestas luctus.
                    <a href="#">https://website.com/news</a>
                  </div>
                </div>
                <div class="news-item">
                  <div class="news-item-heading">
                    <img
                      src="images/category-icons/icon-23.png"
                      alt="Visual arts"
                    />
                    <h6>Art</h6>
                  </div>
                  <div class="news-description">
                    Suspendisse cursus egestas luctus.
                    <a href="#">https://website.com/news</a>
                  </div>
                </div>
                <div class="news-item">
                  <div class="news-item-heading">
                    <img src="images/category-icons/icon-20.png" alt="Sports" />
                    <h6>Sports</h6>
                  </div>
                  <div class="news-description">
                    Suspendisse cursus egestas luctus.
                    <a href="#">https://website.com/news</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
