{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edit Question</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Update') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('question_show', {'id': question.id}) }}">show</a>
    <a href="{{ path('question_index') }}">back to list</a>
{% endblock %}
