{% extends 'front_office/base.html.twig' %}

{% block title %}Sponsoring List{% endblock %}

{% block main %}
<div class="text-center">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
</div>

<div class="container mt-5 mb-5">
    <div class="categories-left-heading border_bottom">
        <h2 class="mb-4">Sponsoring List</h2>						
    </div>
   
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for a in sponsor %}
                <tr>
                    <td>{{ a.id }}</td>
                    <td> <img src="{{ asset('uploads/' ~ a.image) }}" style="width: 100px;height:100px;"></td>
                    <td>{{ a.name }}</td>
                    <td>{{ a.description }}</td>
                    <td>{{ a.Contrat }}</td>
                    <td>{{ a.date | date('Y-m-d') }}</td>
                    <td>
                        <a href="{{ path('editsponsor', {'id': a.id}) }}" class="btn btn-warning mr-2">Edit</a> {# Green color for Edit #}
                        <a href="{{ path('deletesponsor', {'id': a.id}) }}" class="btn btn-danger">Delete</a> {# Red color for Delete #}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
