{% extends 'front_office/base.html.twig' %}

{% block title %}Ajouter Post{% endblock %}

{% block main %}

<!-- Body Start -->
<main class="goeveni-mp">
    <div class="main-section">
        {% for flashMessage in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ flashMessage }}
        </div>
        {% endfor %}
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-xl-6 col-lg-10 col-md-12">

                    <div class="add-event-tabs">
                        {{ form_start(f, {'attr': {'class': 'needs-validation','id':'form', 'novalidate': true}}) }}

                        <!-- Your tabs here -->
                        <ul class="nav event-type-tab mt-4" id="subTab" role="tablist">
                            <li class="nav-item pe-2" role="presentation">
                                <a class="nav-link active" id="lost-tab" data-bs-toggle="tab" role="tab"
                                    aria-controls="general" aria-selected="true" onclick="selectType('Lost')">
                                    <span class="etab-icon"><i class="feather-globe"></i></span>
                                    <span class="etab-title">Lost</span>
                                    <span class="etab-des">Add event details, a cover photo and choose your
                                        audience.</span>
                                </a>
                            </li>
                            <li class="nav-item ps-2" role="presentation">
                                <a class="nav-link" id="found-tab" data-bs-toggle="tab" role="tab" aria-controls="class"
                                    aria-selected="false" onclick="selectType('Found')">
                                    <span class="etab-icon"><i class="feather-airplay"></i></span>
                                    <span class="etab-title">Found</span>
                                    <span class="etab-des">Create, teach and get paid for your class, all in one place,
                                        without switching tools.</span>
                                </a>
                            </li>
                        </ul>


                        <!-- Hidden input for the type -->
                        {{ form_widget(f.type, {'attr': {'class': 'd-none'}}) }}

                        <div class="main-card p-4">
                            <div class="add-event-cover-image">
                                <div class="upload-cover">
                                    <div class="cover-img-btn">
                                        <div class="image-preview">
                                            <img id="sponsor-photo-preview"
                                                src="{{ asset('front_office/images/default-photo.png') }}"
                                                style="max-width: 250px; max-height: 250px;">
                                        </div>
                                        {{ form_label(f.imageUrl, 'Image of Post:', {'label_attr': {'class':
                                        'feather-image me-3'}}) }}
                                        {{ form_widget(f.imageUrl,{'attr': {'id': 'PostForm_photo', 'onchange':
                                        'previewImage(event)'}}) }}
                                        <div style="color: red;">{{ form_errors(f.imageUrl) }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-content" id="mainTabContent">
                        <div class="tab-pane fade active show" id="online" role="tabpanel" aria-labelledby="online-tab">
                            <div class="event-type-dt main-form mt-4">
                                <div class="tab-content" id="subTabContent">
                                    <div class="tab-pane fade active show" id="general" role="tabpanel"
                                        aria-labelledby="general-tab">
                                        <div class="form-group mt-4">
                                            <label class="form-label">Title*</label>
                                            {{ form_widget(f.titre, {'attr': {'class': 'form-input', 'placeholder':
                                            'Enter Event title'}}) }}
                                        </div>
                                        <div class="form-group mt-4">
                                            <label class="form-label">Description*</label>
                                            {{ form_widget(f.description, {'attr': {'class': 'form-textarea',
                                            'placeholder': 'Description'}}) }}
                                            <span class="small-des">Provide more information about your event so
                                                that guests know what to expect.</span>
                                        </div>
                                        <div class="form-group mt-4">
                                            <label class="form-label">Location*</label>
                                            <div class="position-relative">
                                                {{ form_widget(f.place, {'attr': {'class': 'form-input',
                                                'placeholder': 'Include a place or address'}}) }}
                                                <span class="icon-158"><i class="feather-map-pin"></i></span>
                                            </div>
                                        </div>
                                        {{ form_widget(f.save) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form_end(f) }}
                </div>


            </div>
        </div>
    </div>
    </div>
</main>
<!-- Body End -->


<script>
    function selectType(type) {
        // Query the radio button and set it to checked
        var typeRadio = document.querySelector('input[type="radio"][value="' + type + '"]');
        if (typeRadio) {
            typeRadio.checked = true;
        }

        // Update the active class for the tabs
        var tabs = document.querySelectorAll('.nav-link');
        tabs.forEach(function (tab) {
            tab.classList.remove('active');
        });
        document.querySelector('#' + type.toLowerCase() + '-tab').classList.add('active');
    }
    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('sponsor-photo-preview');
            output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
    }

</script>

{% endblock %}