{% extends 'base.html.twig' %}

{% block title %}Hello SponsoringController!{% endblock %}

{% block main %}
<main class="goeveni-mp">	
    <div class="main-section">
        <div class="container mt-5 mb-5">
            <div class="row justify-content-md-center">
                <div class="col-xl-10 col-lg-12 col-md-12"> {# Enlarging the column to col-xl-10 #}
                    <div class="add-event-tabs">
                        <div class="tab-content" id="mainTabContent">
                            <div class="tab-pane fade show active" id="online" role="tabpanel" aria-labelledby="online-tab">
                                <div class="event-type-dt main-form mt-4">
                                    <div class="tab-content" id="subTabContent">
                                        <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
                                            <div class="col-lg-12 col-md-12"> {# Enlarging the column to col-lg-12 #}
                                                <div class="main-card" style="max-width: 1000px; padding: 20px 15px 15px 20px;"> {# Adjusted max-width #}
                                                    <div class="categories-left-heading border_bottom">
                                                        <h3>Add NEW SPONSORING</h3>							
                                                    </div>

                                                    {{ form_start(f, {'attr': {'novalidate': 'novalidate', 'class': 'form-group'}}) }}

                                                    <div class="form-section">
                                                        <div class="main-card p-4">
                                                            <div class="add-event-cover-image">
                                                                <div class="upload-cover">
                                                                    <div class="cover-img-btn">
                                                                        {{ form_label(f.image, 'Image of Sponsoring:', {'label_attr': {'class': 'feather-image me-3'}}) }}
                                                                        {{ form_widget(f.image) }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group mt-3  ">
                                                            {{ form_label(f.name, "Name of Sponsor:", {'label_attr': {'class': 'col-sm-2 col-form-label text-sm-end'}}) }}
                                                            
                                                            <div class="col-sm-8 ">
                                                                {{ form_widget(f.name, {'attr': {'class': 'form-control'}}) }}
                                                            </div>
                                                            <div style="color: red;">{{ form_errors(f.name) }}</div>
                                                        </div>
                                                        <div class="form-group mt-3  ">
                                                            {{ form_label(f.description, "Description of Sponsor:", {'label_attr': {'class': 'col-sm-2 col-form-label text-sm-end'}}) }}
                                                            
                                                            <div class="col-sm-8 ">
                                                                {{ form_widget(f.description, {'attr': {'class': 'form-control'}}) }}
                                                            </div>
                                                            <div style="color: red;">{{ form_errors(f.description) }}</div>
                                                        </div>
                                                        <div class="form-group mt-3  ">
                                                            {{ form_label(f.contrat, "contrat of Sponsor:", {'label_attr': {'class': 'col-sm-2 col-form-label text-sm-end'}}) }}
                                                            
                                                            <div class="col-sm-8 ">
                                                                {{ form_widget(f.contrat, {'attr': {'class': 'form-control'}}) }}
                                                            </div>
                                                            <div style="color: red;">{{ form_errors(f.contrat) }}</div>
                                                        </div>
                                                         
                                                        
                                                        <div class="form-group mt-5  ">
                                                            {{ form_label(f.date, "Date of Sponsoring:", {'label_attr': {'class': 'col-sm-2 col-form-label text-sm-end'}}) }}
                                                            <div style="color: red;">{{ form_errors(f.date) }}</div>
                                                            <div class="col-sm-8 ">
                                                                {{ form_widget(f.date, {'attr': {'class': 'form-control'}}) }}
                                                            </div>
                                                        </div>
                                                       
                                                    </div>

                                                    <div class="form-group row justify-content-center">
                                                        <div class="col-md-5">
                                                            {{ form_widget(f.save ,{'attr': {'class': ' main-btn btn-hover h-40 w-100 mt-5'}}) }}
                                                        </div>
                                                    </div>

                                                    {{ form_end(f) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</main>
{% endblock %}


