{% extends 'base.html.twig' %} {% block title %}Hello HomeController!{% endblock%} 

    {% block css %}
        {{ parent() }}
        <style>
            .event-body-custom {
                margin-left: 5%;
                margin-top: 10%;
                background-color:#FFAA33;
                padding: 3%;
                display: flex;
                flex-direction: column;
                border: 2px solid black;
                border-radius: 2%;
            }
            
        </style>
    {% endblock %}
    
    {% block main %}
    <div class="row">
        {%for i in markets %}
        <div class="col-md-3">
            
                <div class="event-main-post">
                    <center>
                    <div class="event-body-custom">
                        <a href="{{path('market_details', {'id': i.id}) }}" class="event-title">{{ i.name }}</a>
                        <span class="event-type">{{ i.address }}</span>
                        <p class="ingo-counter">
                            <span style="color: red;">{{ i.getAddress() }}</span>
                            <span>{{ i.address }}</span>
                        </p>
                    </div>

                    <div class="row" style="width: 50%; background-color:#2c2c2c;">
                        <div class="col">
                            <form action="{{ path('market_edit', {'id': i.id}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir moddifier ce poste?');">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ i.id) }}">
                                <button type="submit" class="btn btn-danger" title="Supprimer le poste">
                                    <i class="fas fa-edit"></i>
                                </button>
                            </form>
                        </div>
                    <div class="col">
                        <form action="{{ path('deletemarket', {'id': i.id}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce poste?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ i.id) }}">
                            <button type="submit" class="btn btn-danger" title="Supprimer le poste">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </div> 
                    
                </div>
                </center>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}