{% extends 'back_office/base.html.twig' %} 

{% block title %}Sponsoring List{% endblock %}

{% block main %}
<div class="text-center">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
</div>
<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <br>
            <div class="row justify-content-center">
                <div class="col-xl-14 col-lg-12 order-lg-2 order-xl-1"> <!-- J'ai ajusté la largeur de la colonne à col-xl-10 -->
                    <div class="card">
                        <div class="card-body pt-2">
                            <div class="table-responsive">
                                <table class="table table-centered table-nowrap table-hover mb-1">
                                    <tbody>
                                        {% for i in sponsor %}
                                        <tr>
                                            <td>
                                                <h5 class="font-14 my-1 fw-normal">id</h5>
                                                <span class="text-muted font-13">{{ i.id }}</span>
                                            </td>
                                             <td>
                                                <h5 class="font-14 my-1 fw-normal">Name of Sponsor</h5>
                                                <span class="text-muted font-13">{{ i.name }}</span>
                                            </td>
                                            <td>
                                                <h5 class="font-14 my-1 fw-normal">image</h5>
                                                <span class="text-muted font-13"><img src="{{ asset('uploads/' ~ i.image) }}" style="width: 100px;height:50px;"></span>
                                            </td>
                                            <td>
                                                <h5 class="font-14 my-1 fw-normal">Description</h5>
                                                <span class="text-muted font-13">{{ i.Description }}</span>
                                            </td>
                                            <td>
                                                <h5 class="font-14 my-1 fw-normal">date</h5>
                                                <span class="text-muted font-13">{{ i.date | date('Y-m-d') }}</span>
                                            </td>
                                            <td>
                                                <h5 class="font-14 my-1 fw-normal">Duration contrat</h5>
                                                <span class="text-muted font-13">{{ i.Contrat }}</span>
                                            </td>
                                          
                                            <td>
                                                <a href="{{ path('editsponsor', {'id': i.id}) }}" class="btn btn-link" style="font-size: 24px;" onclick="return confirm('Are you sure you want to delete this post?');">
                                                    ✏️
                                                </a>
                                            </td>
                                             <td>
                                                <a href="{{ path('deletesponsor', {'id': i.id}) }}" class="btn btn-link" style="font-size: 24px;" onclick="return confirm('Are you sure you want to delete this post?');">
                                                    🗑️
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div> <!-- end table-responsive-->
                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div><!-- end col-->
            </div> <!-- end row justify-content-center -->
        </div> <!-- end container-fluid -->
    </div> <!-- end content -->
</div> <!-- end content-page -->



{% endblock %}
