
    {% extends 'back_office/base.html.twig' %}
{% block title %}Dashboard{% endblock %}

{% block main %}
<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <br>
            <div class="row">
                <div class="col-xl-8 col-lg-12 order-lg-2 order-xl-1">
                    <div class="card">
                        <div class="card-body pt-0">
                            <div class="table-responsive">
                                <table class="table table-centered table-nowrap table-hover mb-0">
                                    <tbody>
                                        {% for voucher in pagination %}
                                        <tr data-voucher-id="{{ voucher.id }}" class="voucher-row">
                                            <td>
                                                <h5 class="font-14 my-1 fw-normal voucher-code" data-voucher-id="{{ voucher.id }}">{{ voucher.code }}</h5>
                                                <span class="text-muted font-13" data-voucher-id="{{ voucher.id }}">{{ voucher.code }}</span>
                                            </td>
                                            <td>
                                                <h5 class="font-14 my-1 fw-normal">Type</h5>
                                                <span class="text-muted font-13 {{ voucher.category.titre == 'Lost' ? 'type-lost' : 'type-found' }}">{{ voucher.category.titre }}</span>
                                            </td>
                                            <td>
                                                <h5 class="font-14 my-1 fw-normal">Value</h5>
                                                <span class="text-muted font-13">{{ voucher.value }}DT</span>
                                            </td>
                                            <td>
                                                <h5 class="font-14 my-1 fw-normal">Name of user</h5>
                                                <span class="text-muted font-13">{{ voucher.userWon.getEmail() }}</span>
                                            </td>
                                            <td>
                                                <h5 class="font-14 my-1 fw-normal">Name of Market</h5>
                                                <span class="text-muted font-13">{{ voucher.marketRelated.getName() }}</span>
                                            </td>
                                            <td>
                                                <a href="{{ path('voucher_edit', {'id': voucher.id}) }}" class="btn btn-link" style="font-size: 24px;" onclick="return confirm('Are you sure you want to delete this Voucher?');">
                                                    <img src="{{asset('images/category-icons/edit.png')}}" alt="" class="icone-custom">
                                                </a>
                                            </td>
                                            <td>
                                                <a href="{{ path('voucher_delete', {'id': voucher.id}) }}" class="btn btn-link" style="font-size: 24px;" onclick="return confirm('Are you sure you want to delete this Voucher?');">
                                                    <img src="{{asset('images/category-icons/poubelle.png')}}" alt="" class="icone-custom">
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div> <!-- end table-responsive-->
                            {{ knp_pagination_render(pagination) }}
                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div><!-- end col-->
                <div class="col-xl-4 col-lg-6 order-lg-1">
                    <div class="card voucher-details" style="display: none;">
                        <div class="d-flex card-header justify-content-between align-items-center">
                            <h4 class="header-title">Voucher Details</h4>
                        </div>
                        <div class="card-body pt-0">
                            <div class="chart-widget-list">
                                <!-- Voucher details will be displayed here -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card voucher-add">
                        <div class="d-flex card-header justify-content-between align-items-center">
                            <h4 class="header-title">Add Voucher :</h4>
                        </div>
                        <div class="card-body pt-0">
                            <span class="text-muted font-14">Add a new voucher here </span>
                            <a href="{{path('voucher_add')}}"><img class="icone-custom" src="{{asset('front_office/images/category-icons/add.png')}}" alt=""></a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    // Add click event listener to voucher codes
    const voucherCodes = document.querySelectorAll('.voucher-code');
    voucherCodes.forEach(code => {
        code.addEventListener('click', function() {
            // Get the voucher ID
            const voucherId = code.getAttribute('data-voucher-id');
            // Fetch voucher details via AJAX
            fetch(`/voucher-details/${voucherId}`)
                .then(response => {
                    console.log(response); // Log the response data
                    return response.text();
                })
                .then(data => {
                    console.log("YA MAAAAAAAAAAAAAA",data); // Log the data received
                    // Update voucher details card content
                    document.querySelector('.voucher-details .chart-widget-list').innerHTML = data;
                    // Show voucher details card
                    document.querySelector('.voucher-details').style.display = 'block';
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    });
});
</script>
<style>
    .icone-custom{
        width: 40px;
        height: 40px;
    }
</style>
{% endblock %}
