{% extends 'front_office/base.html.twig' %}

{% block title %}Voucher Details{% endblock %}
{% block header %}
{% endblock %}
{% block main %}
<div class="container">
    {% if voucher is empty %}
        <p>No voucher found.</p>
    {% else %}
        <div class="row">
            <div class="col-xl-é col-lg-7 col-md-6 col-7">
                <div class="event-main-post">
                    <div class="main-photo">
                        <a href="#">
                            <div class="photo-overlay"></div>
                            <img src="{{asset('front_office/images/category-icons/bon-de-reduction.png')}}" alt="">
                        </a>
                    </div>
                    <div class="event-body">
                        <a href="#" class="event-title"><i class="feather-dollar-sign me-3"></i>{{ voucher.value }} DT</a>
                        <div class="dash-counter-block">
                            <p class="dash-event-counter">
                                <span class="h-color"><i class="feather-lock me-2"></i>{{ voucher.code }}</span>
                            </p>
                            <p class="dash-event-counter">
                                <span class="h-color"><i class="feather-users me-2"></i>{{ voucher.userWon.getEmail() }}</span>
                            </p>
                            <p class="dash-event-counter">
                                <span class="h-color"><i class="feather-star me-2"></i>{{ voucher.category.getTitre() }}</span>
                            </p>
                            <p class="dash-event-counter">
                                <span class="h-color"><i class="feather-tag me-2"></i>{{ voucher.marketRelated.getName() }}</span>
                            </p>
                            <p class="dash-event-counter">
                                <span class="h-color"><i class="feather-activity me-2"></i>{{ voucher.isValid ? 'not Used yet' : 'Used' }}</span>
                            </p>
                            <div>
                                {# <img src="{{ path('generate_qr_code', {'voucherId': voucher.id}) }}" alt="QR Code"> #}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% block footer %}
{% endblock %}
{% endblock %}
