{% extends 'base.html.twig' %} {% block title %}Hello HomeController!{% endblock
    %} {% block main %}
<div class="tab-content">
              <div class="tab-pane fade show active" id="tab-top">
                <div class="main-posts">
                  <div class="row">
                    {% if voucher is empty %}
                      <p>No vouchers found.</p>
                    {% else %}
                      {% for voucher in voucher %}
                          <div class="col-md-6">
                              <div class="event-main-post "style=
                              "width:30%">
                                  <div class="main-photo" >
                                      <a href="{{ path('vouchercategory_details', {'id': voucher.id}) }}">
                                          <div class="photo-overlay"></div>
                                          <img src="images/homepage/coupons.png" alt="{{ voucher.titre }}" style=
                                          "width:100%"/>
                                      </a>
                                      <div class="option-ellipsis">
                                          <div class="dropdown">
                                              <a class="ellipsis-btn dropdown-toggle-no-caret" href="#" role="button"
                                                  data-bs-toggle="dropdown" aria-expanded="false"><i
                                                      class="fas fa-ellipsis-v"></i></a>
                                              <div class="dropdown-menu dropdown-menu-end">
                                                  <a class="post-link-item" href="#"><i class="feather-eye-off icon-mr1"></i>Hide</a>
                                                  <a class="post-link-item" href="#"><i class="feather-bookmark icon-mr1"></i>Save</a>
                                                  <a class="post-link-item" href="#"><i class="feather-user icon-mr1"></i>User Profile</a>
                                                  <a class="post-link-item" href="#" data-bs-toggle="modal"
                                                      data-bs-target="#reportModal"><i class="feather-flag icon-mr1"></i>Report</a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="event-body">
                                      <a href="{{ path('vouchercategory_details', {'id': voucher.id}) }}" class="event-title">{{ voucher.titre }}</a>
                                      <span class="event-type">{{ voucher.discription }}</span>
                                  </div>
                                  <div class="row" style="width: 100%;">
                    <div class="col">
                        <form action="{{ path('vouchercategory_edit', {'id': voucher.id}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir modifier ce poste?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ voucher.id) }}">
                            <button type="submit" class="btn btn-danger" title="Modifier le poste">
                                <i class="fas fa-edit"></i>
                            </button>
                        </form>
                    </div>
                    <div class="col">
                        <form action="{{ path('vouchercategory_delete', {'id': voucher.id}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce poste?');">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ voucher.id) }}">
                            <button type="submit" class="btn btn-danger" title="Supprimer le poste">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </div> 
                </div>
                              </div>
                          </div>
                      {% endfor %}
                  {% endif %}
                
            </div>
        </div>

{% endblock %}