{% extends 'base.html.twig' %}
{% block title %}Ajouter Post{% endblock %}

{% block main %}
{{ form_start(f, {'attr': {'class': 'needs-validation', 'novalidate': true}}) }}

<main class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                {% for flashMessage in app.flashes('success') %}
                <div class="alert alert-success" role="alert">
                {{ flashMessage }}
                </div>
                {% endfor %}
                <div class="card shadow-lg">
                    <div class="card-header">
						<center>
                        <h4 class="mb-0">Ajouter Post</h4>
						</center>
                    </div>
                    <div class="card-body">
						<div class="form-group d-grid gap-2">
							{{ form_label(f.type) }}
							<div id="type-options" class="btn-group btn-group-toggle" data-toggle="buttons">
								{% for choice in f.type.vars.choices %}
									<input type="radio" class="btn-check" id="type_{{ choice.value }}" name="{{ f.type.vars.full_name }}" value="{{ choice.value }}" autocomplete="off" {% if choice.value == f.type.vars.data %}checked{% endif %}>
									<label class="btn btn-outline-warning" style="transition: background-color 0.3s ease, color 0.3s ease"  for="type_{{ choice.value }}">{{ choice.label }}</label>
								{% endfor %}
							</div>
						</div>
						
						
						
                        {# Render the title field #}
                        <div class="mb-3">
                            {{ form_label(f.titre) }}
                            {{ form_widget(f.titre, {'attr': {'class': 'form-control'}}) }}
							<div style="color: red;">{{ form_errors(f.titre) }}</div>
							
                        </div>
                        
                        {# Render the description field #}
                        <div class="mb-3">
                            {{ form_label(f.description) }}
                            {{ form_widget(f.description, {'attr': {'class': 'form-control'}}) }}
							<div style="color: red;">{{ form_errors(f.description) }}</div>
                        </div>
                        
                        {# Render the place field #}
                        <div class="mb-3">
                            {{ form_label(f.place) }}
                            {{ form_widget(f.place, {'attr': {'class': 'form-control'}}) }}
							<div style="color: red;">{{ form_errors(f.place) }}</div>
                        </div>
                        

                        {# Render the image upload field #}
                        <div class="mb-3">
                            {{ form_label(f.imageUrl) }}
                            {{ form_widget(f.imageUrl, {'attr': {'class': 'form-control'}}) }}
							<div style="color: red;">{{ form_errors(f.imageUrl) }}</div>
                        </div>
                        
                        {# Render the submit button #}
                        <div class="d-grid gap-2" >
                            {{ form_widget(f.save, {'attr': {'class': 'btn btn-blanc btn-lg' , 'style': 'background-color: orange; color: white;'}}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{{ form_end(f) }}

{% endblock %}

{% block css %}
    {{ parent() }}
    <style>
		.btn-outline-orange {
    color: rgb(251, 164, 2);
    border-color: rgb(251, 164, 2);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-outline-orange:hover,
.btn-outline-orange.btn-selected {
    background-color: green; /* Change to your desired color */
    color: white;
}


    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        document.getElementById("type-options").ready(function() {
            // Lorsqu'un bouton est cliqué
            $('#type-options .btn').on('click', function() {
                // Supprime la classe 'btn-selected' de tous les boutons
                $('#type-options .btn').removeClass('btn-selected');
                // Ajoute la classe 'btn-selected' au bouton cliqué
                $(this).addClass('btn-selected');
            });
        });
    </script>
{% endblock %}



