{% extends 'base.html.twig' %}
{% block title %}Create New Event{% endblock %}
{% block main %}
{{ form_start(f, {'attr': {'class': 'needs-validation', 'novalidate': true}}) }}

<main class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow-lg">
                    <div class="card-header">
                        <h4 class="mb-0">New Event</h4>
                    </div>
                    <div class="card-body">
                        {# Render the title field #}
                        <div class="mb-3">
                            {{ form_label(f.titre) }}
                            {{ form_widget(f.titre, {'attr': {'class': 'form-control'}}) }}
							<div style="color: red;">{{ form_errors(f.titre) }}</div>
							
                        </div>
                        
                        {# Render the description field #}
                        <div class="mb-3">
                            {{ form_label(f.description) }}
                            {{ form_widget(f.description, {'attr': {'class': 'form-control'}}) }}
							<div style="color: red;">{{ form_errors(f.description) }}</div>
                        </div>
                        
                        {# Render the date field #}
                        <div class="mb-3">
                            {{ form_label(f.date) }}
                            {{ form_widget(f.date, {'attr': {'class': 'form-control'}}) }}
							<div style="color: red;">{{ form_errors(f.date) }}</div>
                        </div>
                        
                        {# Render the place field #}
                        <div class="mb-3">
                            {{ form_label(f.place) }}
                            {{ form_widget(f.place, {'attr': {'class': 'form-control'}}) }}
							<div style="color: red;">{{ form_errors(f.place) }}</div>
                        </div>
                        
                        {# Render the type field as radio buttons #}
						<div class="mb-3">
                            {{ form_label(f.type) }}
                            {{ form_widget(f.type, {'attr': {'class': 'form-control'}}) }}
							<div style="color: red;">{{ form_errors(f.type) }}</div>
                        </div>
						
                        {# Render the image upload field #}
                        <div class="mb-3">
                            {{ form_label(f.imageUrl) }}
                            {{ form_widget(f.imageUrl, {'attr': {'class': 'form-control'}}) }}
							<div style="color: red;">{{ form_errors(f.imageUrl) }}</div>
                        </div>
                        
                        {# Render the submit button #}
                        <div class="d-grid gap-2">
                            {{ form_widget(f.save, {'attr': {'class': 'btn btn-primary btn-lg'}}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{{ form_end(f) }}
{% endblock %}

{% block javascripts %}
<script>
    // Custom JavaScript can be added here, if needed
</script>
{% endblock %}
