{% extends 'backOffice/base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block main %}
<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <br>
            <div class="row">
                <div class="col-xl-8 col-lg-12 order-lg-2 order-xl-1">
                    <div class="card">
                        <div class="card-body pt-0">
                            <div class="table-responsive">
                                <table class="table table-centered table-nowrap table-hover mb-0">
                                    <tbody>
                                        {% for category in category %}
                                        <tr data-category-id="{{ category.id }}" class="category-row">
                                            <td>
                                                <h5 class="font-14 my-1 fw-normal category-name" data-category-id="{{ category.id }}">{{ category.getTitre()}}</h5>
                                                <span class="text-muted font-13" data-category-id="{{ category.id }}">{{ category.getTitre() }}</span>
                                            </td>
                                            <td>
                                                <h5 class="font-14 my-1 fw-normal">Type</h5>
                                                <span class="text-muted font-13">{{ category.discription }}</span>
                                            </td>
                                            <td>
                                                <a href="{{ path('vouchercategory_edit', {'id': category.id}) }}" class="btn btn-link" style="font-size: 24px;" onclick="return confirm('Are you sure you want to delete this category?');">
                                                    <img src="{{asset('images/category-icons/edit.png')}}" alt="" class="icone-custom">
                                                </a>
                                            </td>
                                            <td>
                                                <a href="{{ path('vouchercategory_delete', {'id': category.id}) }}" class="btn btn-link" style="font-size: 24px;" onclick="return confirm('Are you sure you want to delete this category?');">
                                                    <img src="{{asset('images/category-icons/poubelle.png')}}" alt="" class="icone-custom">
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div> <!-- end table-responsive-->
                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div><!-- end col-->
                <div class="col-xl-4 col-lg-6 order-lg-1">
                    <div class="card category-details" style="display: none;">
                        <div class="d-flex card-header justify-content-between align-items-center">
                            <h4 class="header-title">category Details</h4>
                        </div>
                        <div class="card-body pt-0">
                            <div class="chart-widget-list">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card voucher-add">
                        <div class="d-flex card-header justify-content-between align-items-center">
                            <h4 class="header-title">Add category :</h4>
                        </div>
                        <div class="card-body pt-0">
                            <span class="text-muted font-14">Add a new category here -> </span>
                            <a href="{{path('vouchercategory_new')}}"><img class="icone-custom" src="{{asset('images/category-icons/add.png')}}" alt=""></a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    // Add click event listener to voucher codes
    const voucherCodes = document.querySelectorAll('.category-name');
    voucherCodes.forEach(code => {
        code.addEventListener('click', function() {
            // Get the voucher ID
            const categoryId = code.getAttribute('data-category-id');
            // Fetch voucher details via AJAX
            fetch(`/category-details/${categoryId}`)
                .then(response => {
                    console.log(response); // Log the response data
                    return response.text();
                })
                .then(data => {
                    console.log(data); // Log the data received
                    // Update voucher details card content
                    document.querySelector('.category-details .chart-widget-list').innerHTML = data;
                    // Show voucher details card
                    document.querySelector('.category-details').style.display = 'block';
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    });
});
</script>
<style>
    .icone-custom{
        width: 40px;
        height: 40px;
    }
</style>
{% endblock %}
